{% extends "auctions/layout.html" %}

{% block body %}
    <h2>Active Listings</h2>

    <div>
        {% for listing in listings %}
            <div class="card" style="width: 30rem; margin-bottom: 2rem;">
                <img class="card-img-top" src="{{listing.imageURL}}" alt="{{listing.imageURL}}">
                <div class="card-body">
                    <h3 class="card-title">{{listing.title}}</h3>
                    <p class="card-text">{{listing.desc}}</p>
                    <!-- <p class="card-subtitle">Category: {{listing.category}}</p> -->
                    <p class="card-subtitle">From: {{listing.user}}</p>
                    <p class="card-subtitle">Current Bid: ${{listing.starting_value}}</p>
                    <a href="{% url 'view_listing' title=listing.title %}" class="btn btn-primary">View</a>
                </div>
            </div>
        {% empty %}
            <li> no active listings</li>
        {% endfor %}
    </div>
{% endblock %}
