{% extends "auctions/layout.html" %}
{% block body %}

    {% if message %}
        <h4><strong>{{message}}</strong></h4>
    {% endif %}

    <h2>{{listing.title}}</h2>



    <img src="{{listing.imageURL}}" alt="{{listing.title}}" style="width: 60rem;">
    <div>
        <p>Description: {{listing.desc}}</p>
        <p>${{listing.value}}</p>
        <p>User: {{listing.user}}</p>
        <p>Category: {{category}}</p>
    </div>
    {% if user == listing.user %}
        <p>you made this listing</p>
    {% else %}
        <form action="{% url 'addToWatchlist' %}" method="POST">
            {% csrf_token %}
            <input type="hidden" name="listing_id" value="{{listing.id}}">
            {% if listing.title in watchlist_titles %}
                <input type="submit" name="watchlist" value="Remove From Watchlist">
            {% else %}
                <input type="submit" name="watchlist" value="Add to Watchlist">
            {% endif %}
        </form>
        {% if topBidUser %}
            <p>you currently have the top bid</p>
        {% else %}

            <!-- Bidding -->
            <form action="{% url 'bid'  %}" method="POST">
                {% csrf_token %}
                <label for="bid">Bid</label>
                <input type="hidden" name="listing_id" value="{{listing.id}}">
                <input type="number" name="bid_amount" placeholder="$0" min="{{ listing.value|add:1}}">
                <input type="submit" name="submit" value="Place Bid">
            </form>
        {% endif %}
    {% endif %}
   <!-- Comments  -->
    <form action="{% url 'comment' %}" method="POST">
        {% csrf_token %}
        <label for="body"></label>
        <input type="hidden" name="listing_id" value="{{listing.id}}">
        <input type="textarea" name="body" placeholder="Comment">
        <input type="submit" value="Comment">
    </form>

    <ul style="margin-top: 1rem;">
        {% if comments != None %}
            {% for c in comments %}
                <div class="alert alert-info">
                    <h5>User: {{c.user}}</h5>
                    <p>{{c.body}}</p>
                </div>
            {% endfor %}
        {% endif %}
    </ul>
{% endblock %}
